@charset "utf-8";
/* CSS Document */

/*面包屑导航*/
.breadcrumb_nav{
	padding:20px 0 12px;
}
.breadcrumb_nav a{
	color:#000;
}
.breadcrumb_nav a:hover{
	text-decoration:underline;
}

/*商品介绍*/
.shopDetail_item_description{
	border:1px solid #ccc;
	width:998px;
}
/*左侧商品图片*/
.leftArea{
	width:310px;
}
.description_image{
	position:relative;
}
/*中等图片*/
#mid_img_box{
	padding:20px 0;
	text-align:center;
	position:relative;
	z-index:1;
	border-bottom:1px solid #ccc;
}

#float-box{
	display:none;
	filter:alpha(opacity=50);
	opacity:0.5;
	width:160px;
	height:120px;
	position:absolute;
	background:#ffffcc;
	border:1px solid #ccc;
}
#mark{
	position:absolute;
	width:310px;
	height:293px;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:2;
	background:#fff;
}
/*放大后的图片显示位置*/
#big_img_box{
	display:none;
	position:absolute;
	top:-1px;
	left:313px;
	width:400px;
	height:300px;
	overflow:hidden;
	border:1px solid #ccc;
	z-index:4;
}
#big_img_box img{
	position:absolute;
	z-index:5;
}


.small_image{
	margin:10px 20px;
}
.small_image ul{
	margin:0 5px;
	padding-left:1px;
}
.small_image li{
	float:left;
	margin-left:-1px;
}
.small_image img{
	padding:2px;
	border:1px solid #ccc;
}
.small_image .img_active{
	border-color:#317EE7;
	position:relative;
}

.small_image>a{
	display:inline-block;
	width:20px;
	height:56px;
	
}
.small_image>a:first-child{
	background:url(../img/icon/left.png) center no-repeat;
}
.small_image>a:last-child{
	background:url(../img/icon/right.png) center no-repeat;
}

/*右侧商品订购信息*/
.dl_clearfix{
	zoom:1;
}
.dl_clearfix:after{
	content: "";
    display: block;
    clear: both;
}

.rightArea{
	width:686px;
	border-left:1px solid #ccc;
}
.rightArea .dl{
	margin-bottom:15px;
	font-size:12px;
	font-family:'simsun','宋体';
	color:#656565;
	line-height:20px;
}
.rightArea .dl a{
	color:#656565;
}
.rightArea .dl a:hover{
	color:#D70000;
}
.rightArea .dt{
	float:left;
}
.rightArea .dd{
	padding-left:75px;
}
.rightArea em{
	font-style:normal;
}
/*右侧顶部*/
.rightTop{
	padding:25px 10px 0 25px;
}
.rightTop h3{
	font-size:16px;
	font-family:'Microsoft YaHei','微软雅黑';
	color:#333;
	margin-bottom:15px;
}
.price_left{
	position:relative;
	top:5px;
}
.price_right{
	color:#D70000;
}
.price_right em{
	font-weight:bold;
}
.price_right .price_num{
	font-family:'Microsoft YaHei','微软雅黑';
	font-size:22px;
}
.discount_right i{
	background:url(../img/icon/discount.png) center no-repeat;
	width:60px;
	height:20px;
	color:#fff;
	font-style:normal;
	display:inline-block;
	line-height:20px;
	text-indent:16px;
}
/*右侧中间区*/
.rightMid{
	padding:0 10px;
}
.rightMid .dt{
	line-height:26px;
}
.rightMid_cont{
	padding:20px 15px;
	background:#F2F2F2;
}
.address{
	border:1px solid #BFBFBF;
	background:#fff;
	position:relative;
	z-index:2;
	line-height:23px;
	margin-right:15px;	
	float:left;
}
.address_list{
	border:1px solid #BFBFBF;
	width:100%;
	position:absolute;
	top:23px;
	left:-0.8px;
	float:left;
	display:none;
	background-color:#fff;
}
.address_list li{
	padding-left:5px;
}
.address_list li:hover{
	background:#f1f1f1;
	cursor:pointer;
}
.addr_txt{
	padding-left:5px;
	float:left;
}
.addr_arrow{
	background:url(../img/icon/arrow_close.png) center no-repeat;
	width:20px;
	height:23px;
	float:left;
	display:inline-block;
}


.color_item{
	padding:2px 15px;
	border:1px solid #BFBFBF;
	float:left;
	margin-right:10px;
	background:#fff;
}
.number .dt,.number .dd{
	line-height:36px;
}
.number span{
	margin-left:10px;
}
.number span em{
	color:#FC7700;
	font-weight:bold;
}
.change_num{
	float:left;
	height:34px;
	line-height:34px;
	border:1px solid #bfbfbf;
}
.change_num a{
	float:left;
	display:inline-block;
	width:15px;
	line-height:32px;
	text-align:center;
	border:1px solid #fff;
}
.change_num input{
	background:#fff;
	box-shadow:1px 1px 3px #E6E6E6 inset;
	float:left;
	height:100%;
	width:50px;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	padding:0 5px;
}
.active{
	border-color:#317EE7;
}
/*右侧底部*/
.right_bottom{
	padding:20px 10px 20px 25px;
}
.right_selected{
	color:#0479CA;
	font-weight:bold;
}
.right_buy{
	margin-left:55px;
	margin-top:10px;
}
.right_buy .shopping_btn,.right_buy .buy_btn{
	padding:21px 0;
	float:left;
}
.right_buy a{
	font-size:20px;
	font-family:'Microsoft YaHei','微软雅黑';
	color:#fff;
	width:145px;
	height:48px;
	padding-left:20px;
	display:inline-block;
	line-height:48px;
	background:#FD8900;
}
.right_buy a i{
	background:url(../img/icon/shopcar.gif) center no-repeat;
	width:23px;
	height:20px;
	display:inline-block;
	position:relative;
	top:2px;
	margin-right:10px;
}
.right_buy .line{
	height:90px;
	width:1px;
	background:#E5E5E5;
	margin:0 40px;
	float:left;
}
.right_notes{
	color:#999;
	margin-top:18px;
}

/*第二个的main区*/
/*左侧区域*/
.bottom_leftArea{
	width:190px;
	border-top:2px solid #1D86CF;
}
.left_recommend{
	border:1px solid #ccc;
	padding-bottom:15px;
}
.left_recommend:first-child{
	border-top:none;
}
.left_title{
	height:40px;
	border-bottom:1px solid #ccc;
	background:#F3F3F3;
}
.left_title h3{
	padding-left:15px;
	color:#333;
	font-size:14px;
	line-height:40px;
}
.left_item{
	margin-bottom:5px;
}
.left_item_cont{
	padding:0 15px;
}
.left_item_img{
	height:150px;
	text-align:center;
	line-height:150px;
}
.left_item_img img{
	vertical-align:middle;
}
.left_item_txt a{
	color:#999;
	font-size:12px;
	line-height:18px;
}
.left_item_txt a:hover{
	text-decoration:underline;
}
.left_item_price{
	color:#DD0000;
	font-family:'微软雅黑','Microsoft YaHei';
	line-height:20px;
}

/*右侧区域*/
.bottom_rightArea{
	width:786px;
}
.rightArea_shopIntroduce,.rightArea_shopComments{
	border:1px solid #ccc;
}
/*商品介绍的标题*/
.introduce_title{
	border-bottom:1px solid #ccc;
}
.introduce_title li{
	height:40px;
	line-height:40px;
	width:50%;
	float:left;
	text-align:center;
	background:-moz-linear-gradient(bottom,#EAEAEA,#F4F4F4);
	background:-webkit-linear-gradient(bottom,#EAEAEA,#F4F4F4);
	background:-o-linear-gradient(bottom,#EAEAEA,#F4F4F4);
}
.introduce_title li a{
	color:#000;
	font-size:14px;
}
.introduce_title li a:hover{
	text-decoration:underline;
}
.introduce_title li a i{
	width:20px;
	display:inline-block;
	position:relative;
	right:10px;
}
.introduce_icon{
	top:3px;
	height:15px;
	background:url(../img/icon/introduce.png);
}
.comment_icon{
	top:5px;
	background:url(../img/icon/comment.png);
	height:19px;
}

.introduce_title .li_active{
	background:#0479CA;
}
.introduce_title .li_active a{
	color:#fff;
}
/*商品介绍的内容*/
.introduce_txt_cont{
	padding:0 15px;
}
/*图片*/
.introduce_txt_cont .ad{
	text-align:center;
	padding:30px 0;
}
/*文字*/
.txt{
	padding:10px 0;
}
/*标题*/
.txt_title{
	border-bottom:2px solid #D7D7D7;
	font-family:'Microsoft YaHei','微软雅黑';
	line-height:36px;
}
.txt_title h3{
	float:left;
	font-size:16px;
	color:#2357A5;
	font-weight:normal;
	border-bottom:2px solid #2457A6;
}
.txt_title h4{
	height:36px;
	padding-left:78px;
	font-size:12px;
	color:#656565;
	font-weight:normal;
}
/*内容*/
.txt_cont{
	padding:20px 0;
}
.txt_cont p{
	line-height:20px;
	font-size:14px;
	font-family:'simsun','宋体';
	color:#656565;
}
/*图片部分*/
.introduce_txt_img{
	text-align:center;
	padding:40px 0;
}

/*商品评价部分*/
.rightArea_shopComments{
	padding-bottom:30px;
}
.rightArea_shopComments h4{
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	font-family:'simsun','新宋体';
	color:#656565;
	padding-left:10px;
}
.com_box_left{
	margin-top:15px;
	font-family:'Microsoft YaHei','微软雅黑';	
	padding-left:20px;
	height:120px;
}
.com_box_left em{
	font-style:normal;
	font-size:50px;
	color:#FF8F00;
}
.com_box_left span{
	font-size:18px;
	color:#65657D;
}
.com_box_right{
	padding-left:10px;
	margin-top:30px;
	position:relative;
}
.com_box_right ul{
	width:435px;
	background:#BDBDBD;
}
.com_box_right li{
	float:left;
	padding:2px 20px;
	color:#fff;
}
.comments_score{
	position:absolute;
	left:94%;
	top:-21px;
	text-align:center;
	width:25px;
	height:14px;
	background:#7F7F7F;
	color:#fff;
}
.comments_score i{
	border-width:4px; border-style:solid dashed dashed dashed; border-color:#7F7F7F transparent transparent transparent; width:0; height:0;
}
.com_box_right p{
	line-height:35px;
}
/*评论分类的标题*/
.tab_title{
	background:#F2F2F2;
	height:30px;
	line-height:30px;
}
.tab_title_left li{
	padding:0 20px;
	float:left;
}
.tab_title_left li a{
	height:24px;
	line-height:24px;
	padding:0 5px;	
	font-size:12px;
	color:#000;
	display:inline-block;
}
.tab_title_left li a:hover{
	border-bottom:3px solid #317EE7;
	color:#317DE6;
}
.tab_title_left .li_a_active{
	border-bottom:3px solid #317EE7;
	color:#317DE6;
	font-weight:bold;
}

/*具体每条评价*/
.comments_item{
	margin-bottom:15px;
}
/*评价左侧，用户信息*/
.comments_item_left{
	width:140px;
	text-align:center;
	padding-top:20px;
}
.comments_item_left p{
	line-height:20px;
	font-family:'Microsoft YaHei','微软雅黑';
	color:#77778B;
}
/*评价右侧*/
.comments_item_right{
	padding-top:25px;
	position:relative;
}
.comments_item_right p{
	margin-bottom:15px;
}
.comments_item_right .stars{
	background:url(../img/icon/star.png);
	width:13px;
	height:12px;
	display:inline-block;
}
.comments_item_right .stars_rank{
	margin-left:5px;
	font-weight:bold;
}
.comments_item_right .comments_txt{
	padding-top:5px;
}
.comments_attitude a{
	margin-right:10px;
	color:#075B9B;
}
.comments_attitude a:hover{
	color:#000;
}
.pub_time{
	position:absolute;
	top:25px;
	right:25px;
}
/*评价的页码*/
.page_number{
	font-size:12px;
	text-align:right;
	margin-right:15px;
	color:#656565;
	margin-top:35px;
}
.page_number a{
	display:inline-block;
	padding:0 7px;
	height:20px;
	line-height:20px;	
}
.page_number a:not(.page_number_aLink){
	color:#000;
	border:1px solid #D3D3D3;
}
.page_number a:hover{
	background:#E9E9E9;
	color:#FF0000;
}
.page_number_aLink{
	background:#E9E9E9;
	color:#FF0000;
	font-weight:bold;
	border:1px solid #D3D3D3;
}
.turnpage_num{
	width:20px;
	height:20px;
	border:1px solid #C9C9C9;
	padding:0 5px;
}
.page_number_btn{
	padding:0 5px;
	height:20px;
	background:#E8E8E8;
	border:1px solid #C9C9C9;
	color:#666;
}

/*商品咨询部分*/
.shopConsult_title{
	border-left:1px solid #0688BA;
	line-height:35px;
	color:#075B9B;
	
}
.shopConsult_title h4{
	font-size:14px;
	text-align:center;
	width:130px;
	float:left;
	border-top:1px solid #0688BA;
	border-right:1px solid #0688BA;
}
.pub_consult{
	padding-left:130px;
}
.pub_consult .pub_consult_txt{
	border-bottom:1px solid #0688BA;
}
.pub_consult .pub_consult_txt a{
	color:#075B9B;
	float:right;
	margin-right:24px;
}
.pub_consult .pub_consult_txt a:hover{
	text-decoration:underline;
}
/*商品咨询文字部分*/
.shopConsult_txt{
	padding-bottom:30px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-top:10px;
}
.shopConsult_txt_cont .tips{
	background:#F3F3F3;
	color:#777;
	margin-left:20px;
	margin-right:12px;
	line-height:22px;
	padding:7px 8px 7px 20px;
}
/*用户咨询具体内容*/
.usersConsults{
	padding:0 30px;
}
.consult_item{
	padding:30px 0 10px 0;
}
/*咨询内容左侧*/
.consult_item_left{
	width:120px;
	text-align:center;
	line-height:20px;
	font-family:'Microsoft YaHei','微软雅黑';
	color:#77778B;
}
/*咨询内容右侧*/
.consult_item_right{
	padding-left:120px;
	position:relative;
}
.consult_item_title{
	font-weight:bold;
	color:#000;
	margin-bottom:12px;
}
.consult_item_txt{
	color:#777;
	margin-bottom:10px;
}
.response{
	color:#777;
	background:#F1F1F1;
	padding:15px 25px;
	line-height:18px;
	position:relative;
}
.response i{
	background:url(../img/icon/response_i.png) no-repeat;
	width:9px;
	height:5px;
	display:inline-block;
	position:absolute;
	top:-5px;
	left:30px;
}
.response em{
	font-style:normal;
	color:#000;
}
/*咨询时间*/
.consult_time{
	position:absolute;
	top:0px;
	right:10px;
}